VITE_APPWRITE_ENDPOINT=https://syd.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=shanduko-id
VITE_APPWRITE_DATABASE_ID=shanduko
VITE_APPWRITE_MEMBER_RECORDS_TABLE_ID=member_records
VITE_APPWRITE_ADMIN_LEDGER_TABLE_ID=admin_ledger
VITE_APPWRITE_DEVELOPMENT_LEDGER_TABLE_ID=development_ledger
VITE_APPWRITE_AUDIT_TABLE_ID=audit_events
VITE_APPWRITE_PROFILE_TABLE_ID=cooperative_profile
VITE_APPWRITE_CONTACTS_TABLE_ID=cooperative_contacts
VITE_APPWRITE_MEMBER_PHOTOS_BUCKET_ID=member_photos
VITE_APPWRITE_BENEFICIARIES_TABLE_ID=member_beneficiaries
